<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WFInfo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <userSettings>
    <WFInfo.My.MySettings>
      <setting name="HKey1" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="HKey1Text" serializeAs="String">
        <value>Print Screen</value>
      </setting>
      <setting name="Animate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Fullscreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocStorage" serializeAs="String">
        <value />
      </setting>
      <setting name="LastFile" serializeAs="String">
        <value />
      </setting>
      <setting name="SteamSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="cTitleBar" serializeAs="String">
        <value>15, 15, 15</value>
      </setting>
      <setting name="cBackground" serializeAs="String">
        <value>27, 27, 27</value>
      </setting>
      <setting name="cSideBar" serializeAs="String">
        <value>23, 23, 23</value>
      </setting>
      <setting name="cText" serializeAs="String">
        <value>177, 208, 217</value>
      </setting>
      <setting name="cTray" serializeAs="String">
        <value>23, 23, 23</value>
      </setting>
      <setting name="TreeOne" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EqmtOne" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EqmtSort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ScaleType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Scaling" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="RelicWinLoc" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="EqmtWinLoc" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainLoc" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ExpandedRelics" serializeAs="String">
        <value />
      </setting>
      <setting name="SSCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EtcCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlyrCount" serializeAs="String">
        <value>0</value>
      </setting>
    </WFInfo.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" HintPath="lib"/></DbProviderFactories>
  </system.data>
</configuration>
