<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="Tesseract" switchValue="Verbose">
				<listeners>
					<clear />
					<add name="console" />
				<add name="file" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="console" type="System.Diagnostics.ConsoleTraceListener" />

		<add name="file"
		   type="System.Diagnostics.TextWriterTraceListener"
		   initializeData="c:\log\tesseract.log" />
		</sharedListeners>
	</system.diagnostics>
</configuration>