<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.40.2" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.40.2" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.40.2" targetFramework="net452" />
  <package id="Google.Apis.Sheets.v4" version="1.40.2.1636" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="Xamarin.Forms" version="4.3.0.991211" targetFramework="net48" />
</packages>